body,html{
    height: 100vmin;
}
#dashboard{
    display: flex;
justify-content: center;

}

#image{
    height: 100vh;
    position: absolute;
}
#pp{
    
    border: 2px solid transparent;
    border-radius: 6px;
    position: absolute;
    height: 26%;
    bottom: 37%;
    height: 29vmax;
    width: 20vmax;
    
}
